.movie-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  /* MovieItem.css */
  .movie-item {
    text-align: center;
  }
  
  .movie-item h2 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .movie-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .movie-item p {
    margin-top: 10px;
    font-size: 14px;
    color: #888;
  }