.movie-details {
    text-align: center;
  }
  
  .movie-details h2 {
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  .movie-details img {
    width: 200px;
    height: auto;
    border-radius: 5px;
  }
  
  .movie-details p {
    margin-top: 10px;
    font-size: 16px;
    color: #888;
  }
  