
.footer {
    background-color: var(--secondary-color);
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-links {
    display: flex;
    justify-content: center;
  }
  
  .footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-menu-item {
    display: inline-block;
    margin: 0 10px;
  }
  
  .footer-menu-item p {
    margin: 0;
    font-weight: bold;
  }
  
  .footer-menu-item a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  
  .footer-menu-item a:hover {
    text-decoration: underline;
  }
  .back-to-top-button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px; /* Aumente ou diminua a margem para ajustar o espaçamento */
  }
  
  .back-to-top-button i {
    margin-right: 6px;
  }